
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-darken-4">Danm it ! </h1>
      <h2 class="header center white-text text-darken-3">I'm FK Your Snippets! I'm all you have Now</h2>
      <h3 class="header center white-text text-darken-2">Book me in your FK Database!</h3>
      <div class="row center">
        <h5 class="header col s12 light white-text"></h5>
      </div>
      <div class="row center">
        <%= link_to 'Get Started', new_user_session_path,class:'btn-large waves-effect waves-light teal lighten-1' %>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax">
    <%#= image_tag 'background1.jpg' %>
     <img src="https://bensonnjonjo.files.wordpress.com/2013/04/code-bg.png">

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-image-flash-on"></i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">Compellingly myocardinate synergistic partnerships through adaptive models.
            Proactively harness cross-unit niches after collaborative innovation.
            Distinctively orchestrate synergistic experiences before high-payoff information. </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-social-group"></i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">Compellingly myocardinate synergistic partnerships through
            adaptive models. Proactively harness cross-unit niches after collaborative
            innovation. Distinctively orchestrat
            e synergistic experiences before high-payoff information. </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">.
            Compellingly myocardinate synergistic partnerships through adaptive models.
            Proactively harness cross-unit niches after collaborative innovation.
            Distinctively orchestrate synergistic experiences before high-payoff information. .</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax">
  <%#= image_tag 'background2.jpg' %>
    <img src="http://visualstudiomagazine.com/articles/list/~/media/ECG/visualstudiomagazine/Images/2013/02/unittesting.jpg">
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non
          consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper
          a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum
          sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed.
          Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida
          ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante
          ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%#= image_tag 'background3.jpg' %></div>
  <img src="http://gyazo.com/bd7b54cbec591169473230378b6cfdc6.png">
</div>
